body { 
     background-image: url(../../assets/photos/pexels-florian-holly-2584321-6308163.jpg);
}

.homePage {
    .mainTitle{
        color: white;
        font-size: 3em;
    }
    .title {
        color: white;
        font-size: 3em;
    }
}