
.tags {
    display: flex;
    gap: 0.5rem;
    margin-top: 6%;
    @media (max-width: 499px) {
        flex-wrap: wrap;
    
    }
    

    .tag {
        border-radius: 10px;
        background-color: black;
        color: white;
        font-size: 14px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 30px;
        @media (max-width: 499px) {
            font-size: 10px;
            max-width: 30%;
        }
    }
}