
.burger-icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1001;
    padding-right: 2%;
    @media (max-width: 499px) {
      width: 24px;
      height: 24px;
  }
  
    .line {
      background-color: #333;
      height: 3px;
      width: 100%;
      transition: all 0.3s ease;
    }
  }
  
 
  .modal-menu {
    position: fixed;
    top: 0;
    right: -300px; 
    width: 300px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.5s ease;
    z-index: 10000;
    overflow-y: auto; 
    @media (max-width: 499px) {
      width: 150px;
      
  }

  
    &.open {
      right: 0; 
    }
  
    .nav-links {
      list-style: none;
      padding: 0;
      margin: 10% 0% 0% 0%;
      text-align: center;

      .logoGithub {
        height: 3.2em;
        transition: height 0.3s ease;
        &:hover {
          height: 3.6em;
        }
      }
      
      .logoLinkedin {
        height: 3em;
        transition: height 0.3s ease;
        &:hover {
          height: 3.4em;
        }
      }
      
      li {
        padding: 20px;
      }
  
      a {
        text-decoration: none;
        color: #333;
        font-size: 18px;
        transition: color 0.3s ease;
        @media (max-width: 499px) {
          font-size: 16px;
      }
  
        &:hover {
          font-weight: bold;
        }
      }
    }
  }
  

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;

  }