.node {
    
    .node-logo {
      width: 70%; 
      height: auto;
    }
  
    .node-label {
      margin-top: 5px; /* Espace entre le logo et le texte */
      font-size: 14px; /* Ajuste la taille du texte selon tes besoins */
    }
  
  }

.portrait-node {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 100%; 

    .node-logo {
        width: 100%; 
        height: 100%;
        border-radius: 50%;
        padding: 0;
        margin: 0;
        object-fit: cover;
      }

    }

    
