.Header-container {
    background-color: black;
    height: 4em;
    margin: 0;

    .logoGithub {
        background-color: white;
        height: 3em;
    }
    .logoLinkedin {
        background-color: white;
        height: 3em;
    }

}