.footer-container {
    height: 10em;
    background-color: black;
    color: white;
    margin: 0;


    .links {
        .logoGithub {
            background-color: white;
            height: 3em;
        }
        .logoLinkedin {
            background-color: white;
            height: 3em;
        }
    
    }

}